#Container{
  margin-top: 11px;
}
#Header{
  height: 200px;
  background-color: pink;
}
#Favorite{
  height: 100px;
  background-color: yellow;
}
#Menu{
  margin-top: 54px;
  height: 46px;
  background-color: blue;
}
#Main{
  height: 300px;
  background-color: red;
}
ul.navButtons{
    list-style-type: none;
    margin-left: 250px;
    padding: 0px;
}
li{
  float: left;
  background-color: green;
}
a:link, a:visited {
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: orange;
}
#searchbar input[type=text]{
    float: right;
    padding: 4px;
    border: none;
    margin-top: 8px;
    margin-right: 80px;
    font-size: 20px;
  
}